#Modal.backdrop {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        border-radius: .25em;
        background-color: $bg-primary;
        padding: 2em;
        margin: .75em;
    }

}