$bg-primary: #1f1f1f;
$bg-secondary: #2f2f2f;
$bg-third: #3f3f3f;

$input: #444444;
$text: #f1f1f1;
$text-saturated: #929292;
$text-link: #00b0f4;
$accent: #7289da;

$border-radius: 5px;
$padding: 10px;